@charset "UTF-8";
/* primero se llama siempre las utilities */
/* segundo la base */
.container-noticias {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* Espacio entre los artículos */
  justify-content: center;
  /* Centra los artículos horizontalmente */ }

.noticias {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  max-width: calc(33.333% - 20px);
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; }
  .noticias img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd; }
  .noticias h3 {
    margin: 10px 0; }
  .noticias button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem; }
    .noticias button:hover {
      background-color: #0056b3; }

.container-seguinos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around; }
  .container-seguinos li {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 100px;
    max-width: 200px; }
  .container-seguinos img {
    max-width: 100%;
    height: auto; }
  .container-seguinos h2 {
    margin: 0;
    font-size: 1.2rem;
    text-align: center; }

.box-contacto {
  display: flex;
  flex-direction: column;
  background-color: #1e2e2e;
  border: 1px solid black;
  width: 40%;
  border-radius: 8px;
  box-shadow: 0px 0px 8px grey;
  color: white;
  width: auto; }
  .box-contacto img {
    width: 500px; }

.caja-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px;
  width: auto; }
  .caja-contacto input .caja-contacto textarea {
    width: auto;
    border: 1px solid #c7c7c7;
    border-radius: 0px 0px 8px; }

.container-club {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9; }

.content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-radius: 8px; }
  .content img {
    max-width: 50%;
    height: auto;
    border-radius: 8px; }
  .content p {
    flex: 1;
    font-size: 1rem;
    line-height: 1.5; }

.video-club {
  display: flex;
  justify-content: center;
  margin: 20px auto; }

.slider-frame {
  width: 1280px;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden; }
  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out; }
  .slider-frame li {
    width: 100%;
    list-style: none; }
  .slider-frame img {
    width: 70%; }

.container-disciplinas {
  margin: 50px auto;
  width: 90%;
  height: 600px;
  max-width: 500px;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr); }

.disciplinas-1 {
  background-color: red;
  grid-column: 1/2;
  grid-row: 1/3; }

.disciplinas-2 {
  background-color: blue;
  grid-column: 2;
  grid-row: 1; }

.disciplinas-3 {
  background-color: #adaf42;
  grid-column: 2;
  grid-row: 2; }

.disciplinas-4 {
  background-color: #8634b6;
  grid-column: 2;
  grid-row: 3/5; }

.disciplinas-5 {
  background-color: #40cccc;
  grid-column: 1;
  grid-row: 3; }

.disciplinas-6 {
  background-color: #b1347d;
  grid-column: 1;
  grid-row: 4; }

.tienda {
  display: flex;
  padding: 100px;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px; }

.container-accesorios {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.25rem; }

.tienda-atributos {
  height: 600px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); }

.elemento-atributos1 {
  grid-column: 1/3;
  grid-row: 1;
  text-align: center; }

.elemento-atributos2 {
  grid-column: 3/5;
  grid-row: 1;
  text-align: center; }

.elemento-atributos3 {
  grid-column: 2/4;
  grid-row: 2;
  text-align: center; }

.footer {
  background-image: url(../assets/FOOTER.svg);
  width: 100%;
  background-size: cover; }

.caja-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 10px;
  margin: 15px;
  width: auto; }
  .caja-footer img {
    height: 100px; }

.footer-element1 {
  grid-column: 1;
  grid-row: 1/2; }

.footer-element1 p {
  gap: 1.25rem; }

.footer-element2 {
  grid-column: 2;
  grid-row: 1/2; }

.footer-element3 {
  grid-column: 3;
  grid-row: 1/2; }

.startcoding {
  background-color: black;
  display: flex;
  flex-direction: column; }
  .startcoding p {
    color: white;
    text-align: center; }

/* cuarto los componentes */
/* y ultimo las media si estamos en desktop a mobile decreciente, y viceversa creciente */
