.tienda{
    display: flex;
    padding: 100px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
.container-accesorios{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 3.125rem;
    button {
        
        margin-top: 1rem; /* Espacio superior entre el título y el botón */
        padding: 0.5rem 1rem; /* Espaciado interno del botón */
        background-color: #007bff; /* Color de fondo del botón */
        color: white; /* Color del texto del botón */
        border: none; /* Elimina el borde por defecto del botón */
        border-radius: 4px; /* Esquinas redondeadas del botón */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
        font-size: 16px; /* Tamaño del texto del botón */
        z-index: 2; /* Asegura que el botón esté por encima del overlay */
    }
    
}

.tienda-atributos{
    height: 600px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    
}
.elemento-atributos1{
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
}

.elemento-atributos2{
    grid-column: 3/5;
    grid-row: 1;
    text-align: center;
}

.elemento-atributos3{
    grid-column: 2/4;
    grid-row: 2;
    text-align: center;
}