.botonTienda{
    padding: 5px 10px ;
    /* border-width: 10px; tamaño del borde */
    /* border-style: solid; estilo del borde */
    /* border-color: black; color del borde */
    border-color: white;
    border-radius: 10px;
    background-color: red;
    color: white;
    position: absolute;
    top: 580px;
    left: 200px;
}