@media (max-width: 744px) {
    .box-contacto {
        width: 80%;
    }

    .boxcontacto img {
        width: 100%;
    }

    .caja-contacto {
        margin: 20px;
    }

    .contacto {
        flex-direction: column;
        align-items: center;
    }
}